* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body::before {
  display: block;
  content: "";
  height: 90px;
}
body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  overflow-x: hidden;
}
.profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.profile-field {
  border-radius: 0.375rem;
}
.list-filter:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.featured,
.products-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title-name {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.title-name span {
  background: #f0f0f0;
  padding: 0 10px;
}
